.global-container .sapUxAPObjectPageContainer,
.global-container .sapUxAPObjectPageContainer + div,
.global-container .sapUxAPObjectPageHeaderDetailsHidde,
.global-container .sapUxAPObjectPageHeader,
.global-container .sapMBar{
  //background-color: #FFFFFF !important;
  //box-shadow: none !important;
}

.global-container .sapUxAPAnchorBar,
.global-container .sapUxAPObjectPageHeaderIdentifier,
.global-container .sapUxAPObjectPageHeaderContentDesign-Light,
.global-container .sapUxAPObjectPageHeaderContentDesign-Dark {
  //background-color: #FBFBFB !important;
}

.global-container .sapUxAPBlockContainer button .sapMBtnDefault,
.global-container .sapUxAPBlockContainer button .sapMBtnHoverable,
.global-container .sapUxAPObjectPageHeaderContent button .sapMBtnDefault,
.global-container .sapUxAPObjectPageHeaderContent button .sapMBtnHoverable {
  //border: 1px solid #FF6622 !important;
  //color : #FF6622;
  //background-color: #FFF;
}

.global-container .company-header-detail h1 {
  //color : #FF6622;
}


.global-container .headerForm .action-button.sapMBtn,
.global-container .headerForm .sapMBtn {
  width: auto !important;
}

.global-container .profile-picture {
  display-inline: block;
  width : 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 20px;
}

.global-container .top-bar-icons {
  display-inline: block;
  margin-right: 20px;
  //color: #FF6622 !important;
}

.global-container .top-bar-icon-text {
  font-size: 1.3em;
}

.global-container .sapUxAPObjectPageNavigation .sapMBtnContent:hover,
.global-container .sapUxAPAnchorBarButtonSelected .sapMBtnContent {
  //color: #FF6622 !important;
  //border-bottom: 2px solid #FF6622 !important;
}

.global-container .headerForm .file-upload button.sapMBtn .sapMBtnContent,
.global-container button.sapMBtnBase .sapMBtnInner .sapMBtnContent,
.global-container button.sapMBtnBase .sapMBtnContent {
  //border : 2px solid 0px !important;
  //text-shadow: none !important;
}

.global-container .headerForm .file-upload button.sapMBtn .sapMBtnContent:hover {
  background-color: #FFF !important;
}

.sapMSltArrow,
.sapMBtnIcon {
  //color: #FF6622 !important;
}

.page-section-tabs .sapUxAPObjectPageSectionTitle,
.address-form h4 {
  //color: #FF6622 !important;
  //border-bottom: 0px solid #CCC;
}

.data-entry-table .sapMListHdrTBar label {
  flex-shrink: 0 !important;
}

.data-entry-table .sapMListHdrTBar {
  padding: 20px 0 20px 0 !important;
  height: auto;
}

.data-entry-table td > button {
  float: right;
  //border-bottom: 0px solid #FFF !important;
}

.data-entry-table > button .sapMBtnDefault {
  //border: 1px solid #FF6622;
  //background-color: #FFF;
}

.sapUxAPAnchorBar.sapMTB {
  box-shadow: none;
  //border-bottom: 1px solid #CCC;
}


/*For currency field*/
.sapMSlt {
    height: 2.5rem !important;
}

.sapMSltArrow{
    line-height: 2.5rem !important;
    width: 2rem !important;
}

.sapMSlt>.sapMSltLabel {
    line-height: 2.375rem !important;
}